DATABASE_URL=postgres://postgres:password@localhost/balabol

FRONTEND_URL=http://localhost:3000

JWT_SECRET=changeme

GOOGLE_ID=
GOOGLE_SECRET=

DISCORD_ID=
DISCORD_SECRET=

GITHUB_ID=
GITHUB_SECRET=
